.all__habits{
  height: 80vh;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.habit__container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 30px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}