.page__container {
  display: flex;
  gap: 2rem;
}

// merge

.all__habits {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.habit__container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 60px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-items: center;
  gap: 10px;
}
