.habit__container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.footer {
    display: flex;
    justify-content: center;
}

.page__container {
    display: flex;
    gap: 2rem;
}
