@import "@/constants/styles/variables.scss";
@import "@/constants/styles/mixins.scss";

.page__wrapper {
  height: 100vh;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}
