@import "./../constants/styles/reset.scss";

* {
  font-family: "Gilroy", sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  user-select: none;

  ::-webkit-scrollbar {
    display: none;
  }
}

.page__wrapper {
  padding-top: 10px;
}

// clerk overrides

.cl-providerIcon__github {
  // filter: invert(1);
}

.cl-userButtonPopoverActionButtonIcon {
  color: white;
}

.cl-card .cl-card .cl-signIn-start .cl-internal-17ydaof {
  background-color: black;
}

.cl-logoBox {
  height: 40px;
}
.cl-dividerLine {
  background: #252a41;
  height: 2px;
}

.cl-socialButtonsIconButton {
  border: 3px solid #565761;
}

.cl-internal-wkkub3 {
  color: white;
}
.cl-userButtonPopoverActionButton {
  color: white;
}
