@import "@/constants/styles/mixins.scss";
@import "@/constants/styles/variables.scss";

.button {
  padding: $spacing-400 $spacing-800;
  border-radius: $border-radius-large;
  color: $gray-1000;
  background-color: $primary;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
}
